<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
</head>
<body>
    관리자 페이지
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:src="@{/js/common.js}" th:inline="javascript"></script>
<script>
    // LocalStorage에 저장된 토큰 가져오기 (예제)
    const token = getTokenFromLocalStorage();

    // 멤버 페이지 이동
    axios.get('/api/accounts/admin', {
        headers: {
            'Authorization': `Bearer ${token}`
        }
    })
            .then(response => {
                console.log(response)
                console.log(response)
                console.log(response)
            })
            .catch(error => {
                console.error('Error:', error);
                alert('접근 권한이 없습니다.');
                history.back();
            });
</script>
</html>