body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #007bff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #d4e2ff;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
}

.container h2 {
    margin-bottom: 30px;
    color: #333333;
}

.form-group {
    margin-bottom: 14px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333333;
}

.form-group input {
    width: calc(100% - 110px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group .inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group button {
    white-space: nowrap;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #0056b3;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #218838;
}

.message {
    color: blue; /* 글자 색을 붉게 설정 */
}

.error-message {
    color: red;
    font-size: 0.9em;
}
